extends layout

block content
    div(class="row m-sm-4 listing-container")
            div(class="col-lg-2 list-image")
                image(src="images/cue-logo.jpg")
            div(class="col-lg-10 py-2 list-details")
                h4 #{company.name}
                small !{company.description}
    div(class="row m-sm-4 leads-container")
        div(class="col lead-header")
            medium Leads
        div(class="w-100")        
        div(class="col")
            ul(class="nav nav-pills justify-content-center" role="tablist")
                li(class="nav-item")
                    a(class="nav-link active" data-toggle="tab" href="#qualified" role="tab") Qualified
                li(class="nav-item")
                    a(class="nav-link" data-toggle="tab" href="#warm" role="tab") Warm
                li(class="nav-item")
                    a(class="nav-link" data-toggle="tab" href="#cold" role="tab") Cold
            div(class="tab-content")
                div(class="tab-pane active py-4" id="qualified" role="tabpanel")
                    each lead in leads["Qualified"]
                        div(class="row")
                            div(class="col-5")
                                p #{lead.title}
                            div(class="col-5")
                                p #{lead.description}
                            div(class="col-2")
                                a(href=lead["other_info"]["source"] target="_blank")
                                    button(type="button", class="btn btn-primary btn-sm") View Source
                div(class="tab-pane py-4" id="warm" role="tabpanel")
                    each lead in leads["Warm"]
                        div(class="row")
                            div(class="col-5")
                                p #{lead.title}
                            div(class="col-5")
                                p #{lead.description}
                            div(class="col-2")
                                a(href=lead["other_info"]["source"] target="_blank")
                                    button(type="button", class="btn btn-primary btn-sm") View Source
                div(class="tab-pane py-4" id="cold" role="tabpanel")
                    each lead in leads["Cold"]
                        div(class="row")
                            div(class="col-5")
                                p #{lead.title}
                            div(class="col-5")
                                p #{lead.description}
                            div(class="col-2")
                                a(href=lead["other_info"]["source"] target="_blank")
                                    button(type="button", class="btn btn-primary btn-sm") View Source
    div(class="row m-sm-4 leads-container")
            div(class="col lead-header")
                medium Employees
            div(class="w-100")        
            div(class="col py-4")
                each employee, id in company.employees
                    div(class="row")
                        div(class="col-10")
                            medium #{employee.name} 
                            br
                            medium #{employee.designation}
                        div(class="col-2")
                            a(href="/person/"+id+"/profile")
                                button(type="button", class="btn btn-primary btn-sm") View Profile
    div(class="row m-sm-4 leads-container")
        div(class="col lead-header")
            medium Locations
        div(class="w-100")        
            div(class="col-6 col-border")
                br
                each address in company.address
                    ul()
                        li(class="list-unstyled") #{address.street},
                        if address.street2
                            li(class="list-unstyled") #{address.street2}, 
                        li(class="list-unstyled") #{address.city} - #{address.postalcode}
                        li(class="list-unstyled") #{address.country}
                        each phone in address.phone
                            li(class="list-unstyled") #{phone}
            div(class="col-6")
    div(class="row m-sm-4 leads-container")
        div(class="col lead-header")
            medium Other Information
        div(class="w-100")        
            div(class="col-6 col-border")
                br
                ul()
                    each val, key in company.other_info
                        li(class="list-unstyled") #{key} : #{val}
            div(class="col-6")
        