extends layout

block content
    div(class="row")
        div(class="col-lg-12")
            div()
            form(class="form-inline" action="search" method="GET")
                div(class="form-group mx-sm-3")
                    input(type="text", name="q", class="form-control form-control-lg input-border" placeholder="query" value=query )
                div(class="form-group mx-sm-3")
                    input(type="text", name="location", class="form-control form-control-lg input-border", placeholder="Location" value=location)
                div(class="form-group mx-sm-3")
                    input(type="text", name="sector", class="form-control form-control-lg input-border", placeholder="Sector" value=sector)
                div(class="form-group mx-sm-3")
                    button(type="submit", class="btn btn-primary btn-lg") Search
    div(class="row m-sm-4")
        each val in result
            div(class="row my-3 listing-container")
                div(class="col-lg-8 py-2 list-details")
                    h4 #{val["_source"].name}
                    small #{val["_source"].short_description}
                div(class="col-lg-2 list-leads")
                    medium Leads
                    br
                    small Qualified - 2
                    br
                    small Warm - 2
                    br
                    small Cold - 2
                div(class="col-lg-2 p-4 list-moreinfo")
                    button(type="button", class="btn btn-primary btn") More Info